# Decision Tree Learning

In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv('Iris.csv')

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
y = iris[['Species']]   # dependent variable

In [6]:
x = iris[['SepalLengthCm']]  # independent variable

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)  
# For 40% going to the test set observation and 70% go to the train set

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
dtc = DecisionTreeClassifier()  # dtc is instance of DecisionTreeClassifier

In [11]:
dtc.fit(x_train,y_train)  # for model fit

DecisionTreeClassifier()

In [12]:
y_pred=dtc.predict(x_test)  #pred value store in y

In [13]:
from sklearn.metrics import confusion_matrix

In [15]:
confusion_matrix(y_test,y_pred)  #left diagonal

array([[19,  1,  0],
       [ 8,  8,  5],
       [ 2,  7, 10]])

In [17]:
(19+8+10)/(19+1+0+8+8+5+2+7+10)   #61% acuracy we get

0.6166666666666667

In [18]:
# decision tree regressor

In [19]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
x=iris[['PetalLengthCm']]

In [21]:
y=iris[['SepalLengthCm']]

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [23]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
dtr= DecisionTreeRegressor()

In [25]:
dtr.fit(x_train,y_train)  # for model fit

DecisionTreeRegressor()

In [26]:
y_pred=dtr.predict(x_test)  #pred value store in y

In [27]:
y_test.head()

     SepalLengthCm
42             4.4
73             6.1
67             5.8
22             4.6
110            6.5

In [28]:
y_pred[0:5]

array([5.02 , 6.525, 5.65 , 4.3  , 6.1  ])

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
mean_squared_error(y_test,y_pred)

0.12598490903183893