# Linear Regression Learning

In [1]:
import pandas as pd
import datetime as dt

In [2]:
covid = pd.read_csv('covid_19_india.csv', parse_dates=['Date'],dayfirst=True)

In [3]:
covid

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
14649,14650,2021-05-07,8:00 AM,Telangana,-,-,405164,2625,481640
14650,14651,2021-05-07,8:00 AM,Tripura,-,-,34153,404,36849
14651,14652,2021-05-07,8:00 AM,Uttarakhand,-,-,154147,3293,220351
14652,14653,2021-05-07,8:00 AM,Uttar Pradesh,-,-,1151571,14501,1425916
14653,14654,2021-05-07,8:00 AM,West Bengal,-,-,800328,11964,935066

In [4]:
covid = covid[['Date', 'State/UnionTerritory', 'Cured', 'Deaths', 'Confirmed']]
covid.columns=['date', 'state', 'cured', 'deaths', 'confirmed']

In [5]:
covid.head()

        date   state  cured  deaths  confirmed
0 2020-01-30  Kerala      0       0          1
1 2020-01-31  Kerala      0       0          1
2 2020-02-01  Kerala      0       0          2
3 2020-02-02  Kerala      0       0          3
4 2020-02-03  Kerala      0       0          3

In [6]:
# confirmed = independent
# cured = dependent
y = covid[['cured']]   # dependent variable
x = covid[['confirmed']]   #independent variable

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
from sklearn.model_selection import train_test_split #For model train and test

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)  
# For 30% going to the test set observation and 70% go to the train set
# For 4 result out

In [10]:
lr = LinearRegression()  # For create new instance store in lr, basically LinearRegression instance store in lr

In [11]:
lr.fit(x_train,y_train)  # For model fit in lr

LinearRegression()

In [12]:
y_pred=lr.predict(x_test)  # lr predict value store in y_pred

In [13]:
y_test.head() #actual value
# for actual value and predict value compare

       cured
10300  16609
3524   44094
10879  20195
1283      24
9763   18508

In [14]:
y_pred[0:5] #predict value  
#Extra diff/error is called RESIDUAL

array([[17156.04568951],
       [72100.29382174],
       [20645.48991745],
       [ 2250.73879306],
       [19325.01498589]])

In [15]:
# For residual calculate import metrics
from sklearn.metrics import mean_squared_error

In [16]:
mean_squared_error(y_test,y_pred)  #for actual and pred value

774365050.2804523

In [17]:
x = covid[['deaths']]  #independent variable

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)  
# For 30% going to the test set observation and 70% go to the train set
# For 4 result out

In [19]:
lr2 = LinearRegression()  # For create new instance store in lr2, basically LinearRegression instance store in lr2

In [20]:
lr2.fit(x_train,y_train)  # For model fit in lr2

LinearRegression()

In [21]:
y_pred2=lr.predict(x_test)  # lr predict value store in y_pred

In [22]:
# For residual calculate import metrics
from sklearn.metrics import mean_squared_error

In [23]:
mean_squared_error(y_test,y_pred)  #for actual and pred value

208813540099.44614